* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Libre Baskerville", serif;
}

/* HEADER */
header {
  height: 100vh;
  width: 100%;
  background-image: url("img/header1.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
}

/* Nav Section */
.main-head {
  z-index: 2;
  position: relative;
}

#logo img {
  position: absolute;
  height: 12%;
  width: auto;
  margin-top: 3rem;
  margin-left: 0rem;
}

.header-content {
  height: 100vh;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header-text {
  background-color: rgba(0, 0, 0, 0.493);
  width: 50%;
  height: auto;
  text-align: center;
  padding: 3rem;
}

.header-text h2 {
  font-size: 3rem;
  letter-spacing: 0.3rem;
  color: #d9e0e0;
  text-transform: uppercase;
  font-family: "Libre Baskerville", serif;
  font-weight: lighter;
  padding-top: 2rem;
}

.header-text h2::after {
  display: block;
  content: "";
  background-color: #fff;
  height: 1.8px;
  width: 20rem;
  margin: 1rem auto;
}

.header-text h1 {
  color: #d2ba87;
  font-family: "Great Vibes", cursive;
  font-size: 10rem;
  font-weight: lighter;
  padding: 1rem 0rem;
}

.header-text h3 {
  font-size: 2rem;
  letter-spacing: 0.3rem;
  color: #d9e0e0;
  font-family: "Libre Baskerville", serif;
  font-weight: lighter;
}

.header-text h3::before,
.header-text h3::after {
  display: inline-block;
  content: "";
  background-color: #fff;
  height: 0.8px;
  width: 2.3rem;
  vertical-align: middle;
  margin: 0 0.8rem;
}

.header-button {
  height: 20vh;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.header-button a {
  color: #d2ba87;
  text-decoration: none;
}

.button-rolunk {
  padding: 2rem 6rem;
  background: #941f1f;
  border-style: none;
  color: #d2ba87;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-family: "Libre Baskerville", serif;
  font-weight: lighter;
  cursor: pointer;
  border-radius: 1rem;
  border: 0.5px solid rgba(255, 255, 255, 0.397);
}

.button-kalendarium {
  padding: 2rem 6rem;
  background: #941f1f;
  border-style: none;
  color: #d2ba87;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-family: "Libre Baskerville", serif;
  font-weight: lighter;
  cursor: pointer;
  border-radius: 1rem;
  border: 0.5px solid rgba(255, 255, 255, 0.397);
}

/* ABOUT */

.about {
  width: 100%;
  height: auto;
  color: #d2ba87;
  background-image: url("img/mintared.png");
  background-position: center;
  background-size: contain;
}
.about-content {
  width: 75%;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.about-card img {
  height: 23vh;
  width: auto;
  /*animation: img-shake 1.5s ease-in-out 0.5s infinite,
          img-shake 2.5s infinite ease alternate-reverse 2s;*/
  animation: img-shake 3s ease infinite alternate;
  transform-origin: bottom;
}

.about-text {
  width: 65%;
  margin: auto;
}

.about h1 {
  font-family: "Great Vibes", cursive;
  font-size: 5rem;
  padding-top: 6rem;
  color: #d2ba87;
  font-weight: lighter;
  text-align: center;
}

.about p {
  width: 95%;
  margin: auto;
  font-size: 1.8rem;
  font-family: "Libre Baskerville", serif;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 6rem;
  line-height: 4rem;
}

/* KINEK */

.kinek {
  width: 100%;
  margin: auto;
  color: #444349;
  background-image: url("img/pattern2.png");
  background-position: center;
  background-size: cover;
  padding-bottom: 8rem;
}

.kinek h1 {
  font-family: "Great Vibes", cursive;
  font-size: 5rem;
  padding-top: 6rem;
  padding-bottom: 2rem;
  color: #941f1f;
  font-weight: lighter;
  text-align: center;
}

.kinek h3 {
  font-family: "Great Vibes", cursive;
  font-size: 4rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
  color: #941f1f;
  font-weight: lighter;
  text-align: center;
}

.kinek-text {
  width: 80%;
  margin: auto;
}

.kinek p {
  font-size: 2rem;
  font-family: "Libre Baskerville", serif;
  text-align: center;
  line-height: 4rem;
  color: #941f1f;
}

/* KINEK ABLAK */

@import url(https://fonts.googleapis.com/css?family=Oleo+Script);

.kinek-ablak {
  margin-bottom: 5rem;
}

.kinek-ablak ul {
  font-family: "Great Vibes", cursive;
  list-style-type: none;
  width: 80%;
  height: auto;
  margin: auto;
  text-align: center;
  user-select: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.kinek-ablak li {
  font-weight: 200;
  background-color: #ffefb9;
  box-sizing: border-box;
  border-radius: 6px;
  display: inline-block;
  color: #34502b;
  cursor: pointer;
  font-size: 3.2rem;
  padding: 4rem 2.5rem;
  margin: 2rem;
  width: 20vh;
  height: 20vh;
  line-height: 4rem;
  text-align: center;
  position: relative;
  vertical-align: top;
  user-select: none;
  perspective: 800px;
  transition: all 0.4s ease-in-out;
}

.door {
  user-select: none;
  color: #ffefb9;
  font-size: 4rem;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #34502b;
  box-sizing: border-box;
  border-top: 2px #ffefb9 dashed;
  border-right: 2px #ffefb9 dashed;
  border-bottom: 2px #ffefb9 dashed;
  border-left: 1px #ffefb9 solid;
  border-radius: 6px;
  padding: 3rem 2rem;
  width: 20vh;
  height: 20vh;
  transform-origin: 0 40%;
  transition: all 0.4s ease-in-out;
  transform-style: preserve-3d;
}

.door p {
  margin-top: 4rem;
  font-family: "Great Vibes", cursive;
  color: #ffefb9;
  font-size: 4rem;
}

.current .door {
  background-color: #34502b;
}

.current .door.open {
  color: #ffefb9;
}

.revealed {
  user-select: none;
}

#message {
  box-sizing: border-box;
  color: #34502b;
  display: none;
  font-size: 2.4rem;
  padding: 2rem;
  background: #eddecb;
  max-width: 500px;
  width: 100%;
  border-radius: 15px;
  margin: 0 auto;
}

.open {
  box-shadow: 14px 0px 15px -1px rgba(0, 0, 0, 0.2);
  color: #ffefb9;
  transform: rotate3d(0, 1, 0, -98deg);
}

.jiggle {
  animation: jiggle 0.5s infinite;
  transform: rotate(-1deg);
}

@keyframes jiggle {
  0% {
    transform: rotate(-1deg);
  }
  50% {
    transform: rotate(1deg);
  }
}

@media screen and (min-width: 480px) {
  .kinek-ablak li {
    margin: 25px 20px;
  }
}

/* TARTALOM */

.tartalom {
  width: 100%;
  height: auto;
  background: #34502b;
}

.tartalom h1 {
  font-family: "Great Vibes", cursive;
  font-size: 5rem;
  padding-top: 6rem;
  padding-bottom: 3rem;
  color: #d2ba87;
  font-weight: lighter;
  text-align: center;
}

.tartalom p {
  width: 95%;
  margin: auto;
  font-size: 2rem;
  font-family: "Libre Baskerville", serif;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px #941f1f;
  padding-top: 2rem;
  padding-bottom: 7rem;
  color: #d2ba87;
}

.tartalom ul {
  width: 70%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-between;
  align-items: center;
}

.tartalom img {
  height: 23vh;
  width: auto;
  /*animation: img-shake 1.5s ease-in-out 0.5s infinite,
          img-shake 2.5s infinite ease alternate-reverse 2s;*/
  animation: img-shake 3s ease infinite alternate;
  transform-origin: bottom;
}

/* CONTACT */

.contact {
  width: 100%;
  margin: auto;
  color: #444349;
  background-image: url("img/pattern2.png");
  background-position: center;
  background-size: cover;
}

.contact h1 {
  font-family: "Great Vibes", cursive;
  font-size: 5rem;
  padding-top: 4rem;
  padding-bottom: 2rem;
  color: #444349;
  font-weight: lighter;
  text-align: center;
}

.contact p {
  font-size: 1.8rem;
  font-family: "Libre Baskerville", serif;
  text-align: center;
  margin: 2rem 0rem;
}

.contact a {
  color: #941f1f;
  text-decoration: none;
  transition: 0.2s ease-in-out;
}

.contact a:hover {
  color: #ce6b5d;
}

.social {
  display: flex;
  justify-content: center;
  align-content: space-around;
}

.social a {
  padding: 1.5rem;
  padding-bottom: 3rem;
}

/* FOOTER */

footer {
  height: auto;
  width: 100%;
  background-image: url("img/mintared.png");
  background-position: center;
  background-size: contain;
  color: #ffefb9;
  font-size: 1.4rem;
  padding: 3rem;
  font-family: "Muli", sans-serif;
  text-align: center;
}

footer a {
  color: #bd806e;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  /* HEADER */
  header {
    background-position: 70% center;
  }

  .header-text {
    width: 100%;
    padding: 1rem;
  }

  .header-text h2 {
    font-size: 2rem;
    text-transform: none;
  }

  .header-text h2::after {
    height: 0.8px;
  }

  .header-text h1 {
    font-size: 5rem;
    padding: 0.8rem 0rem;
  }
}

@keyframes img-shake {
  from {
    transform: rotateZ(-3deg);
  }
  to {
    transform: rotateZ(5deg);
  }
}

/* ROLUNK ALOLDAL*/

.muzeumtortenet {
  width: 100%;
  height: auto;
  color: #d2ba87;
  background-image: url("img/mintared.png");
  background-position: center;
  background-size: contain;
}

.museumtortenet-content {
  width: 80%;
  height: auto;
  margin: auto;
  padding-bottom: 6rem;
}

.museumtortenet-content h1 {
  font-family: "Great Vibes", cursive;
  font-size: 5rem;
  padding-top: 7rem;
  padding-bottom: 1rem;
  color: #d2ba87;
  font-weight: lighter;
  text-align: center;
}

.museumtortenet-content p {
  font-size: 1.8rem;
  font-family: "Libre Baskerville", serif;
  padding: 1.5rem 2rem;
  line-height: 3rem;
}

.irodalomhaza-img {
  float: right;
  width: 80vh;
  height: auto;
  margin: 4rem;
  border: 5px solid #d2ba87;
}

/* HÓ */

.svg-snowscene {
  width: 100%;
}
.snow {
  fill: #fff;
  animation-name: snowing;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
}

.snow:nth-child(2n) {
  animation-delay: 1.5s;
}
.snow:nth-child(3n) {
  animation-delay: 2.3s;
  animation-duration: 3.3s;
}
.snow:nth-child(4n) {
  animation-delay: 0.8s;
  animation-duration: 3.2s;
}
.snow:nth-child(5n) {
  animation-delay: 2.8s;
}

@keyframes snowing {
  0% {
    fill-opacity: 1;
  }
  100% {
    fill-opacity: 0;
    transform: translateY(200px);
  }
}

/* KALANDÁRIUM ALOLDAL */

#whitelogo {
  position: relative;
  height: 15%;
  width: auto;
  margin-top: 5rem;
  padding-left: 8rem;
}

.adventikalendarium-content {
  width: 100%;
  height: auto;
  color: #697e7f;
  background-image: url("img/calandarbackground4.png");
  background-position: top;
  background-size: cover;
}

.adventikalendarium h1 {
  font-family: "Great Vibes";
  font-size: 8rem;
  padding-top: 6rem;
  padding-bottom: 3rem;
  color: #042423;
  text-shadow: 3px 1px 1px #77a3a3;
  --font-weight: lighter;
  text-align: center;
}

@import url(https://fonts.googleapis.com/css?family=Oleo+Script);

.adventikalendarium ul {
  margin: 0 auto 0 auto;
  padding-bottom: 5rem;
  list-style-type: none;
  max-width: 900px;
  width: 100%;
  text-align: center;
  user-select: none;
}

.adventikalendarium li {
  font-weight: 400;
  background-color: #fff;
  box-sizing: border-box;
  border-radius: 6px;
  display: inline-block;
  color: #111;
  cursor: pointer;
  font-size: 26px;
  padding: 15px;
  padding-top: 3.2rem;
  margin: 25px 12px;
  width: 17rem;
  height: 17rem;
  line-height: 100px;
  text-align: center;
  position: relative;
  vertical-align: top;
  user-select: none;
  perspective: 800px;
  transition: all 0.4s ease-in-out;
}

.adventikalendarium ul li:last-child {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/62105/santa.jpg")
    center top;
  background-size: cover;
  display: block;
  clear: both;
  margin: 20px auto 0 auto;
  width: 200px;
  height: 275px;
}

.adventikalendarium ul li:last-child .adventidoor {
  font-size: 100px;
  width: 200px;
  height: 275px;
  line-height: 240px;
}

.adventikalendarium ul li:last-child .revealed {
  line-height: 123px;
}

.adventikalendarium a {
  text-decoration: none;
  color: #042423;
  font-size: 1.8rem;
  text-align: center;
}

.adventikalendarium a:hover {
  text-decoration: none;
  color: #c80006;
}

.adventidoor {
  user-select: none;
  color: #e1dfe0;
  font-size: 8.5rem;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #042423;
  box-sizing: border-box;
  border-top: 2px #e1dfe0 dashed;
  border-right: 2px #e1dfe0 dashed;
  border-bottom: 2px #e1dfe0 dashed;
  border-left: 1px #e1dfe0 solid;
  border-radius: 6px;
  padding: 2rem;
  padding-top: 3rem;
  width: 17rem;
  height: 17rem;
  transform-origin: 0 40%;
  transition: all 0.4s ease-in-out;
  transform-style: preserve-3d;
}

.current .adventidoor {
  background-color: #697e7f;
}

.current .adventidoor.open {
  color: #ffefb9;
}

.revealed {
  user-select: none;
}

#message {
  box-sizing: border-box;
  color: #222;
  display: none;
  font-size: 24px;
  padding: 20px;
  background: #eddecb;
  max-width: 500px;
  width: 100%;
  border-radius: 15px;
  margin: 0 auto;
}

.open {
  box-shadow: 14px 0px 15px -1px rgba(0, 0, 0, 0.2);
  color: #ffefb9;
  transform: rotate3d(0, 1, 0, -98deg);
}

.jiggle {
  animation: jiggle 0.2s infinite;
  transform: rotate(-1deg);
}

@keyframes jiggle {
  0% {
    transform: rotate(-1deg);
  }
  50% {
    transform: rotate(1deg);
  }
}
/*
@media screen and (min-width: 480px) {
  li {
    margin: 25px 20px;
  }
}

@media screen and (min-width: 768px) {
  body {
    background-size: 150px;
  }

  p {
    right: 6%;
    top: 20%;
    bottom: auto;
    margin-left: auto;
    left: auto;
  }
}*/

/* ___________________ 1 - Decemberben _____________________*/

.adventikalendarium-decemberben {
  width: 100%;
  height: auto;
  color: #697e7f;
  background-image: url("img/calandarbackground4.png");
  background-position: top;
  background-size: cover;
}

.decemberben-content {
  width: 70%;
  height: auto;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #04242396;
  padding-bottom: 10rem;
}

.decemberben-content h1 {
  font-family: "Great Vibes", cursive;
  font-size: 8rem;
  padding-top: 7rem;
  padding-bottom: 3rem;
  --color: #d2ba87;
  text-align: center;
  --webkit-text-stroke: 0.6px #042423;
  text-shadow: -2px -2px 0 #042423, 2px -2px 0 #042423, -2px 2px 0 #042423,
    2px 2px 0 #042423;
  -webkit-text-fill-color: #eaebfa;
  letter-spacing: 4px;
}

/* ___________________ 2 - MATA FADÚC ___________________ */

.faduc-content {
  width: 70%;
  height: auto;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #04242396;
  padding-bottom: 3rem;
}

.faduc-content h1 {
  font-family: "Great Vibes", cursive;
  font-size: 8rem;
  padding-top: 7rem;
  padding-bottom: 3rem;
  --color: #d2ba87;
  text-align: center;
  --webkit-text-stroke: 0.6px #042423;
  text-shadow: -2px -2px 0 #042423, 2px -2px 0 #042423, -2px 2px 0 #042423,
    2px 2px 0 #042423;
  -webkit-text-fill-color: #eaebfa;
  letter-spacing: 4px;
}

.faduc-content div {
  width: 80%;
  margin: auto;
  padding-top: 2rem;
  padding-bottom: 5rem;
}

.faduc-content p {
  font-size: 2.4rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: left;
  -webkit-text-stroke: 0.2px #a8000d;
  -webkit-text-fill-color: #eaebfa;
}

.faduc-content img {
  width: 80vh;
  height: auto;
  margin: 3rem;
}
/* ___________________ 3 - CSILLAGZÁPOR ___________________*/

.csillagzapor-content {
  width: 70%;
  height: auto;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #04242396;
  padding-bottom: 10rem;
}

.csillagzapor-content h1 {
  font-family: "Great Vibes", cursive;
  font-size: 8rem;
  padding-top: 7rem;
  padding-bottom: 3rem;
  --color: #d2ba87;
  text-align: center;
  --webkit-text-stroke: 0.6px #042423;
  text-shadow: -2px -2px 0 #042423, 2px -2px 0 #042423, -2px 2px 0 #042423,
    2px 2px 0 #042423;
  -webkit-text-fill-color: #eaebfa;
  letter-spacing: 4px;
}

.csillagzapor-content h2 {
  font-family: "Great Vibes", cursive;
  font-size: 6rem;
  padding-top: 7.5rem;
  padding-bottom: 2rem;
  text-align: center;
  text-shadow: -2px -2px 0 #042423, 2px -2px 0 #042423, -2px 2px 0 #042423,
    2px 2px 0 #042423;
  -webkit-text-fill-color: #eaebfa;
  letter-spacing: 4px;
}

.csillagzapor-content h3 {
  font-family: "Great Vibes", cursive;
  font-size: 4.5rem;
  padding-bottom: 3rem;
  text-align: center;
  text-shadow: -2px -2px 0 #042423, 2px -2px 0 #042423, -2px 2px 0 #042423,
    2px 2px 0 #042423;
  -webkit-text-fill-color: #eaebfa;
  letter-spacing: 4px;
}

.csillagzapor-content h4 {
  font-family: "Great Vibes", cursive;
  font-size: 3.6rem;
  padding-top: 2rem;
  padding-bottom: 3rem;
  text-align: center;
  text-shadow: -1px -1px 0 #a8000e8a, 1px -1px 0 #a8000d, -2px 2px 0 #042423,
    2px 2px 0 #042423;
  -webkit-text-fill-color: #eaebfa;
  letter-spacing: 4px;
}

.csillagzapor-content div {
  padding-top: 2rem;
  padding-bottom: 5rem;
}

.csillagzapor-content p {
  font-size: 2.4rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
  -webkit-text-stroke: 0.2px #a8000d;
  -webkit-text-fill-color: #eaebfa;
}

#meta-text {
  font-size: 1.6rem;
  line-height: 3rem;
}

/* ___________________ 4 - HÓGÖMB ___________________ */

.adventikalendarium-hogomb {
  width: 100%;
  height: auto;
  color: #697e7f;
  background-image: url("img/calandarbackground4.png");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.hogomb-content {
  width: 70%;
  height: auto;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #04242396;
  padding-bottom: 10rem;
}

.hogomb-content h1 {
  font-family: "Great Vibes", cursive;
  font-size: 8rem;
  padding-top: 7rem;
  padding-bottom: 1rem;
  --color: #d2ba87;
  text-align: center;
  --webkit-text-stroke: 0.6px #042423;
  text-shadow: -2px -2px 0 #042423, 2px -2px 0 #042423, -2px 2px 0 #042423,
    2px 2px 0 #042423;
  -webkit-text-fill-color: #eaebfa;
  letter-spacing: 4px;
}

.hogomb-content h2 {
  font-size: 3.2rem;
  padding-top: 5rem;
  padding-bottom: 1rem;
  text-align: center;
  -webkit-text-stroke: 0.2px #042423;
  -webkit-text-fill-color: #eaebfa;
}

.hogomb-content h3 {
  font-size: 2.6rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
  -webkit-text-stroke: 0.2px #042423;
  -webkit-text-fill-color: #eaebfa;
  text-align: center;
  line-height: 4rem;
}

.hogomb-content h4 {
  font-size: 2.4rem;
  padding-top: 5rem;
  text-align: center;
  -webkit-text-stroke: 0.2px #a8000d;
  -webkit-text-fill-color: #eaebfa;
}

.hogomb-content p {
  font-size: 2.4rem;
  padding-top: 7rem;
  padding-bottom: 1rem;
  text-align: center;
  -webkit-text-stroke: 0.2px #a8000d;
  -webkit-text-fill-color: #eaebfa;
  line-height: 3.5rem;
}

.hogomb-content img {
  float: none;
  width: 80vh;
  height: auto;
  margin: 1rem 1rem;
}

#hogombsablon-link {
  text-decoration: none;
  font-size: 2rem;
  padding-bottom: 3rem;
  text-align: center;
  -webkit-text-stroke: 0.2px #a8000d;
  -webkit-text-fill-color: #eaebfa;
}

#hogombsablon-link:hover {
  --webkit-text-stroke: 0.3px #eaebfa;
  -webkit-text-fill-color: #c67600;
}

/* ___________________ 7 - AKI FÁZIK ___________________ */
.akifazik-content {
  width: 70%;
  height: auto;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #04242396;
  padding-bottom: 3rem;
}

.akifazik-content h1 {
  font-family: "Great Vibes", cursive;
  font-size: 8rem;
  padding-top: 7rem;
  padding-bottom: 3rem;
  --color: #d2ba87;
  text-align: center;
  --webkit-text-stroke: 0.6px #042423;
  text-shadow: -2px -2px 0 #042423, 2px -2px 0 #042423, -2px 2px 0 #042423,
    2px 2px 0 #042423;
  -webkit-text-fill-color: #eaebfa;
  letter-spacing: 4px;
}

.akifazik-content h2 {
  font-family: "Great Vibes", cursive;
  font-size: 6rem;
  padding-top: 7.5rem;
  padding-bottom: 2rem;
  text-align: center;
  text-shadow: -2px -2px 0 #042423, 2px -2px 0 #042423, -2px 2px 0 #042423,
    2px 2px 0 #042423;
  -webkit-text-fill-color: #eaebfa;
  letter-spacing: 4px;
}

.akifazik-content h3 {
  font-family: "Great Vibes", cursive;
  font-size: 4.5rem;
  padding-bottom: 3rem;
  text-align: center;
  text-shadow: -2px -2px 0 #042423, 2px -2px 0 #042423, -2px 2px 0 #042423,
    2px 2px 0 #042423;
  -webkit-text-fill-color: #eaebfa;
  letter-spacing: 4px;
}

.akifazik-content h4 {
  font-family: "Great Vibes", cursive;
  font-size: 3.6rem;
  padding-top: 2rem;
  padding-bottom: 3rem;
  text-align: center;
  text-shadow: -1px -1px 0 #a8000e8a, 1px -1px 0 #a8000d, -2px 2px 0 #042423,
    2px 2px 0 #042423;
  -webkit-text-fill-color: #eaebfa;
  letter-spacing: 4px;
}

.akifazik-content div {
  padding-top: 2rem;
  padding-bottom: 5rem;
}

.akifazik-content p {
  font-size: 2.4rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
  -webkit-text-stroke: 0.2px #a8000d;
  -webkit-text-fill-color: #eaebfa;
}

.akifazik-content img {
  float: right;
  width: 60vh;
  height: auto;
  padding: 4rem;
}

.forrocsoki-recept {
  position: relative;
  width: 90%;
  margin: auto;
}

.forrocsoki-recept a {
  text-decoration: none;
}

#jatek-text {
  font-family: "IM Fell Great Primer", serif;
  font-style: italic;
  line-height: 5rem;
}

#flip {
  text-align: center;
  transform: scale(-1, 1);
  color: #1c87c9;
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

#megfejtes {
  margin-top: 2rem;
  margin-bottom: 4rem;
  text-align: center;
  background-color: #084644af;
  color: #d2ba87;
  font-size: 1.8rem;
  padding: 1rem 2.5rem;
  border-radius: 10px;
  font-family: "IM Fell Great Primer", serif;
  border: 1px solid #d2ba87fd;
}

/*---------------------------------------------------------------------------- */
/*---------------------------------------------------------------------------- */
/* ------------------------- media query ------------------------------------- */
@media screen and (max-width: 1600px) {
  .door {
    font-size: 3rem;
    padding: 2rem;
    padding-top: 4rem;
    width: 25vh;
    height: 25vh;
  }

  .door1 {
    font-size: 2rem;
    padding: 2rem;
    width: 25vh;
    height: 25vh;
  }

  .revealed {
    line-height: 3.5rem;
    font-size: 3rem;
    padding: 1rem;
  }

  .kinek-ablak li {
    width: 25vh;
    height: 25vh;
    padding: 2.3rem;
  }

  .adventikalendarium .revealed {
    padding-top: 3rem;
  }
}

/*---------------------------------------------------------------------------- */
/* ------------------------- media query 1320 ------------------------------------- */

@media screen and (max-width: 1320px) {
  .header-text h1 {
    font-size: 7rem;
    word-wrap: wrap;
  }
  .header-text h2 {
    font-size: 2.4rem;
  }

  .button-kalendarium {
    padding: 2rem 2rem;
  }

  .button-rolunk {
    padding: 2rem 2rem;
  }

  #jatek-text {
    font-size: 4rem;
  }
}

/*---------------------------------------------------------------------------- */
/* ------------------------- media query 1140 ------------------------------------- */

@media screen and (max-width: 1140px) {
  .button-kalendarium .button-rolunk {
    padding: 1rem 1rem;
  }

  .tartalom ul {
    width: 80%;
    justify-content: space-evenly;
  }
  .irodalomhaza-img {
    float: none;
    width: 90%;
    margin: 2rem;
  }

  .adventikalendarium h1 {
    font-size: 6rem;
    padding-top: 3rem;
  }

  .decemberben-content h1 {
    font-size: 6rem;
  }

  iframe {
    width: 660px;
    height: 415px;
  }

  .faduc-content h1 {
    font-size: 6rem;
    padding-bottom: 1rem;
  }

  .faduc-content p {
    font-size: 2rem;
  }

  .faduc-content div {
    padding-bottom: 2rem;
  }

  .csillagzapor-content h1 {
    font-size: 6rem;
    padding-bottom: 1rem;
  }
  .csillagzapor-content div {
    padding-bottom: 2rem;
  }

  .csillagzapor-content p {
    font-size: 2rem;
  }

  #jatek-text {
    font-size: 2.8rem;
    line-height: 4rem;
  }

  .hogomb-content {
    width: 85%;
    padding: 2rem;
  }

  .hogomb-content h1 {
    font-size: 6rem;
    padding-bottom: 1rem;
  }

  .hogomb-content h2 {
    font-size: 2.8rem;
    padding-top: 4rem;
  }

  .hogomb-content h3 {
    font-size: 2rem;
    padding-top: 2rem;
  }

  .hogomb-content p {
    padding-top: 5rem;
    font-size: 2rem;
  }

  .akifazik-content {
    width: 85%;
  }

  .akifazik-content h1 {
    font-size: 6rem;
    padding-bottom: 1rem;
  }

  .akifazik-content h2 {
    font-size: 5rem;
    padding-top: 3rem;
  }

  .akifazik-content p {
    font-size: 2rem;
  }
}

/*---------------------------------------------------------------------------- */
/* ------------------------- media query 664 ------------------------------------- */

@media screen and (max-width: 664px) {
  .header-text h1 {
    font-size: 5rem;
    padding-top: 3rem;
  }

  .button-kalendarium {
    font-size: 1.6rem;
  }

  .button-kalendarium {
    margin-top: 2rem;
    padding: 1.5rem;
  }

  .button-rolunk {
    margin-top: 2rem;
    padding: 1.5rem;
    font-size: 1.6rem;
  }

  .about-content {
    width: 90%;
  }

  .about h1 {
    font-size: 4rem;
    word-wrap: break-word;
    padding-top: 3rem;
  }

  .about-card img {
    margin: 2rem 2rem;
  }

  .tartalom h1 {
    font-size: 4rem;
  }

  .tartalom ul {
    width: 80%;
    justify-content: space-evenly;
  }

  .irodalomhaza-img {
    float: none;
    width: 90%;
    margin: 2rem;
  }

  .adventikalendarium h1 {
    font-size: 5rem;
    padding-top: 3rem;
  }

  .decemberben-content {
    width: 90%;
    padding-bottom: 6rem;
  }

  .decemberben-content h1 {
    font-size: 5rem;
    padding-top: 5rem;
  }

  iframe {
    width: 560px;
    height: 315px;
  }

  .faduc-content {
    width: 90%;
  }

  .faduc-content h1 {
    font-size: 5rem;
    padding-bottom: 1rem;
  }

  .faduc-content p {
    line-height: 2.5rem;
  }

  .faduc-content div {
    padding-bottom: 1rem;
  }

  .faduc-content img {
    width: 90%;
  }

  .csillagzapor-content {
    width: 90%;
  }

  .csillagzapor-content h1 {
    font-size: 5rem;
    padding-bottom: 1rem;
  }

  #jatek-text {
    font-size: 2.8rem;
    line-height: 3.4rem;
  }

  .hogomb-content {
    width: 90%;
    padding: 2rem;
  }

  .hogomb-content h1 {
    font-size: 5rem;
    padding-bottom: 1rem;
  }

  .hogomb-content h2 {
    font-size: 2.4rem;
    padding-top: 4rem;
  }

  .hogomb-content h3 {
    font-size: 1.8rem;
    padding-top: 2rem;
  }

  .hogomb-content p {
    padding-top: 5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 2rem;
    line-height: 3rem;
  }

  .hogomb-content img {
    width: 90%;
  }

  .akifazik-content {
    width: 85%;
  }

  .akifazik-content h1 {
    font-size: 5rem;
    padding-bottom: 1rem;
  }

  .akifazik-content h2 {
    font-size: 4.6rem;
    padding-top: 3rem;
  }

  .akifazik-content p {
    font-size: 2rem;
    line-height: 3rem;
  }

  .akifazik-content img {
    float: none;
    width: 90%;
    padding: 2rem;
    margin-left: 2rem;
  }

  .revealed {
    padding: 0rem;
  }

  .door {
    padding-top: 2rem;
  }

  .door p {
    margin-top: 2rem;
  }
}

/*---------------------------------------------------------------------------- */
/* ------------------------- media query 390 ------------------------------------- */

@media screen and (max-width: 390px) {
  .about-content {
    padding: 4rem 0rem;
  }

  .about-card img {
    margin: 0rem;
  }

  .about-text {
    width: 90%;
  }

  .about p {
    padding-bottom: 3rem;
  }

  .kinek {
    padding: 0rem 2rem;
  }

  .kinek-text {
    width: 90%;
    padding-bottom: 5rem;
  }
  .kinek h1 {
    font-size: 4rem;
  }

  .kinek h3 {
    font-size: 3.4rem;
  }

  .kinek p {
    line-height: 3rem;
  }

  .tartalom p {
    font-size: 1.8rem;
  }

  .tartalom ul {
    width: 80%;
    justify-content: space-evenly;
  }

  .contact h1 {
    font-size: 4rem;
  }

  .contact {
    padding: 2rem;
  }

  .contact p {
    font-size: 1.6rem;
  }

  .museumtortenet-content h1 {
    font-size: 3.6rem;
  }

  .irodalomhaza-img {
    float: none;
    width: 90%;
    margin: 2rem;
  }

  #whitelogo {
    padding-top: 1rem;
    padding-left: 18rem;
  }

  .adventikalendarium-decemberben {
    width: 100%;
    height: auto;
    color: #697e7f;
    background-image: url("img/calandarbackground4.png");
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }

  .adventikalendarium-content {
    padding: 0rem 1rem;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  .adventikalendarium h1 {
    font-size: 3.8rem;
    padding-top: 3rem;
    text-shadow: 1px 1px 1px #77a3a3;
  }

  .decemberben-content {
    width: 90%;
    padding-bottom: 10rem;
  }

  .decemberben-content h1 {
    font-size: 3.6rem;
    padding-top: 4rem;
  }

  iframe {
    width: 300px;
    height: 215px;
  }

  .faduc-content {
    width: 90%;
  }

  .faduc-content h1 {
    font-size: 3.6rem;
    padding-bottom: 0rem;
  }

  .faduc-content p {
    line-height: 2rem;
    font-size: 1.6rem;
  }

  .faduc-content div {
    padding-bottom: 1rem;
  }

  .faduc-content img {
    width: 90%;
  }

  .csillagzapor-content {
    width: 90%;
    padding-bottom: 5rem;
  }

  .csillagzapor-content h1 {
    font-size: 3.6rem;
    padding-bottom: 0rem;
  }
  .csillagzapor-content h2 {
    padding-top: 3rem;
  }

  .csillagzapor-content p {
    font-size: 1.4rem;
    margin-top: 0rem;
    padding: 1rem;
  }

  #jatek-text {
    font-size: 2rem;
    line-height: 3.4rem;
  }

  .hogomb-content {
    width: 90%;
    padding: 2rem;
  }

  .hogomb-content h1 {
    font-size: 3.6rem;
    padding-bottom: 1rem;
  }

  .hogomb-content h2 {
    font-size: 2rem;
    padding-top: 4rem;
  }

  .hogomb-content h3 {
    font-size: 1.5rem;
    padding-top: 2rem;
  }

  .hogomb-content p {
    padding-top: 4rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1.8rem;
    line-height: 2.5rem;
  }

  .hogomb-content img {
    width: 90%;
  }

  .akifazik-content {
    width: 85%;
  }

  .akifazik-content h1 {
    font-size: 3.6rem;
    padding-bottom: 1rem;
  }

  .akifazik-content h2 {
    font-size: 3.2rem;
    padding-top: 1.5rem;
  }

  .akifazik-content p {
    font-size: 1.8rem;
    line-height: 2.5rem;
  }

  .akifazik-content img {
    float: none;
    width: 90%;
    padding: 2rem;
    margin-left: 2rem;
  }

  .akifazik-content div {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .revealed {
    padding: 0rem;
  }
}
